body{
    font-family:'Montserrat', sans-serif;
    line-height:1;
    background: black;
    margin:0
}

.first-section {
    background: black;
    padding: 3rem!important;
    width: 100%;
    text-align: center;
    color: #fff;
}

.section-content {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    max-width: 66.6667%;
}

.first-section h1 {
    font-size: 3.5rem;
}

.first-section h2 {
    font-size: 2rem;
}

.games-img {
    border-radius: 100%;
    box-shadow: 0;
    opacity: 1;
    transition: all .2s;
}

.games-img:hover {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.18),0 0px 12px 0 rgba(0,0,0,0.15);
    opacity: .5;
}